button, div, form, input {
    margin: 10px;
    font-family: 'Permanent Marker', cursive;
}

#display-images {
    border: solid thick black;
    background-color: darkgrey;
}

body {
    background-image: url("images/background.jpg");
}
div.jumbotron {
    font-size: 6rem;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    background-color: black;
    color: darkred;
}

label {
    color: #fff;
}

.btn-default {
    color: #000;
    font-size: medium;
}



img {
    max-height: 200px;
    max-width: 200px;
}

.holder {
    float: left;
}

label {
    font-size: 20px;
}

